body {
	padding: 5% 10%;
}

.row {
	margin-bottom: 1em;
}

.col {
	background: #007FFF;
	color: #FFF;
}

.col .col {
	background: #0066CC;
}

.col .col .col {
	background: #003366;
}

.major {
	margin: 2em 0 1em;
	padding-bottom: 0.5em;
	font-size: 2em;
	border-bottom: 1px solid #DDD;
}

.minor {
	font-size: 1.5em;
}

.example {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #DDD;
	border-radius: 0.25em;
}